
Pokemon Knight 2/Library/Artifacts/*
Pokemon Knight (old)/Library/Artifacts/*
Pokemon Knight (old)/*
Pokemon Knight/Library/Artifacts/*
Pokemon Knight/Assets/Epic Toon FX/*
Pokemon Knight/Assets/Epic Toon FX/Prefabs/Combat/*
Pokemon Knight/[Ll]ibrary/
Pokemon Knight/[Tt]emp/
Pokemon Knight/[Oo]bj/
Pokemon Knight/[Bb]uild/
Pokemon Knight/[Bb]uilds/
Pokemon Knight/[Ll]ogs/
Pokemon Knight/[Uu]ser[Ss]ettings/

