
Pokemon Knight 2/Library/Artifacts/*
Pokemon Knight (old)/Library/Artifacts/*
Pokemon Knight (old)/*
Pokemon Knight/Library/Artifacts/*
Pokemon Knight/Assets/Epic Toon FX/*
Pokemon Knight/Assets/Epic Toon FX/Prefabs/Combat/*
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

